{% extends 'base.html' %}
{% block content %}
<div id="nav-bar">
  <a href="/" id="logo">Wander</a>
</div>
<div class="page-content">
      <h2 class="form-title">Welcome back.</h2>
      <form method="POST" id="user_form">
        <div class="form">
          {{ form.hidden_tag() }}

          {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
          {% endfor %}
        </div>
        <button class="btn btn-secondary">Log in</button>
        <a href="/register" class="btn btn-secondary">Create new account</a>
      </form>
</div>
{% endblock %}