{% extends 'base.html' %}
{% block content %}
<div id="nav-bar">
    <p id="logo">Wander</p>
    <a href="/" class="nav">Home |</a>
    <a href="/trips" class="nav">My trips |</a>
    <a href="/logout" class="nav">Logout</a>
</div>
<div class="page-content">
    <p class="page-title">{{trip.name}} packing list</p>
    <form method="POST" id="pack_form">
        <div class="form">
            {{ form.hidden_tag() }}
    
            {% for field in form if field.widget.input_type != 'hidden' %}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
              {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
        </div>
        <button class="btn btn-secondary">Add item</button>
        <a href="/trips/{{trip.id}}" class="btn btn-secondary">Back to trip overview</a>
      </form>
</div>

{% endblock %}

