{% extends 'base.html' %}
{% block content %}
<h2>Packing List for {{trip.name}}</h2>
<ul>
{% for item in packing_list %}
    <li>
        <input type="checkbox" id={{item.id}} {{"checked" if item.pack_status == True}}> {{item.item_name}} <a href="/packing_list/{{item.id}}/delete" class="btn btn-secondary">X</a>
    </li> 
{% endfor %}
</ul>
<form method="POST" id="pack_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <button class="btn btn-primary btn-block btn-lg">Add item</button>
  </form>
  <a href="/trips/{{trip.id}}" class="btn btn-secondary">Back to trip overview</a>


  <script>
    $(document).ready(function(){
    
        const $input = $('input');
        const item_id = $input.attr('id');
    
        async function togglePackStatus(e) {
            console.log("click");
            await axios({
                url: `/packing_list/${item_id}/update`,
                method: "POST"
            });
        }
        $input.on('click', togglePackStatus)
    
    })
        
    
    </script>

{% endblock %}

