{% extends 'base.html' %}
{% block content %}
<h2>Packing List</h2>
<ul>
{% for item in packing_list %}
    <li>{{item.item_name}}, {{item.pack_status}} <a href="/packing_list/{{item.id}}/delete">X</a></li>
{% endfor %}
</ul>
<form method="POST" id="pack_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <button class="btn btn-primary btn-block btn-lg">Add item</button>
  </form>
{% endblock %}