{% extends 'base.html' %}
{% block content %} 
{{trip.name}}, {{trip.description}}
<a href="/trips/{{trip.id}}/delete">Delete trip</a>
<a href="/trips/{{trip.id}}/edit">Edit trip</a>
<a href="/trips/{{trip.id}}/packing_list">Packing list</a>

<div id ="map"></div>
<div id="stops">
    <h4>Stops</h4>
    <ol></ol>
</div>

<script>

    // add a Leaflet map in the "map" div. Set lat and long of center and zoom level
    var map = L.map('map').setView([37.357, -98.789], 3)

    // add OpenStreetMap tile layer, set max zoom and attribution text
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', 
    { maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var stop = 0;

    function stopHTML(e) {
        let lat = Math.round(e.latlng.lat * 1000) / 1000;
        let lng = Math.round(e.latlng.lng * 1000) / 1000;
        stop++;
        let HTML = 
        {popup: `<b>Stop ${stop}</b> <br>
        latitude: ${lat} <br>
        longitude: ${lng}`,
        list: `Latitude: ${lat}, Longitude: ${lng}`};
        return HTML;
    }
    

    function onMapClick(e) {
        var marker = L.marker();
        var popup = L.popup();
        marker.setLatLng(e.latlng).addTo(map);
        let HTML = stopHTML(e);
        marker.bindPopup(`${HTML["popup"]}`); 
	    $('ol').append(`<li class="stops">${HTML["list"]}</li>`)
        
    }
    map.on('click', onMapClick)


</script>

{% endblock %}
