{% extends 'base.html' %}
{% block content %} 
<div id="nav-bar">
    <p id="logo">Wander</p>
    <a href="/" class="nav">Home |</a>
    <a href="/trips" class="nav">My trips |</a>
    <a href="/logout" class="nav">Logout</a>
</div>
<div class="page-content">
    <p class="page-title">{{trip.name}}</p>
    <a href="/trips/{{trip.id}}/edit" class="btn btn-secondary">Edit trip details</a>
    <a href="/trips/{{trip.id}}/packing_list" class="btn btn-secondary">Packing list</a>
    <a href="/trips/{{trip.id}}/delete" class="btn btn-secondary">Delete trip</a>
    
    <div id ="map"></div>
    <div id="stops">
        <h4 class="page-title">Stops</h4>
        <ol></ol>
    </div>
</div>
<script>

    $(document).ready(function(){

        // add a Leaflet map in the "map" div. Set lat and long of center and zoom level
        var map = L.map('map').setView([37.357, -98.789], 3)

        // add OpenStreetMap tile layer, set max zoom and attribution text
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', 
        { maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        let stop_num = 0;

        getStops();


        async function getStops() {
            let stops = await axios({
                url: `${window.location.pathname}/stops`,
                method: "GET"
            })
            for (let stop of stops.data.stops) 
            {
                stop_num++;
                let marker = L.marker();
                let popup = L.popup();
                let latlng = {"lat": stop.lat, "lng": stop.lng}
                marker.setLatLng(latlng).addTo(map);
                let HTML = getStopHTML(latlng, stop_num, stop.id);
                marker.bindPopup(`${HTML.popup}`); 
                $('ol').append(`${HTML.list}`);
            }
        }

        function getStopInfo(e) {
            let lat = Math.round(e.latlng.lat * 1000) / 1000;
            let lng = Math.round(e.latlng.lng * 1000) / 1000;
            return {
                "lat": lat,
                "lng": lng,
            }
        }

        function getStopHTML(latlng, stop_num, stop_id) {
            let HTML = 
            {popup: `<b>Stop ${stop_num}</b> <br>
            latitude: ${latlng.lat} <br>
            longitude: ${latlng.lng}`,
            list: `<li class="stops" id=${stop_id}>Latitude: ${latlng.lat}, Longitude: ${latlng.lng} 
            <button type="button" class="btn btn-secondary">Edit</button>
            <button type="button" class="btn btn-secondary">Delete</button></li>`};
            return HTML;
        }


        async function addStop(e) {
            stop_num++;
            let latlng = getStopInfo(e);
            await axios({
                url: `${window.location.pathname}/stops/new`,
                method: "POST",
                params: {"latitude": latlng.lat,
                        "longitude": latlng.lng}
            });
            location.reload();
        }
        map.on('click', addStop)

        $(document).on('click', '.btn-danger', async function(){
            let stop_id = ($(this).parent().attr('id'));
            console.log(stop_id);
            await axios({
                url: `/stops/${stop_id}/delete`,
                method: "DELETE"
            });
            location.reload();
        })


    })
   

</script>

{% endblock %}
